// color variables
$color-gray-tuna: #393c41;
$color-shark: #181b21;
$color-mercury: #e3e3e3;
$color-light: #fff;

// config
$color-dark: #000;
$border-radius: 20px;

// * universal selector
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $color-shark;
}

//  % is used to replace class . or id # selectors (used with @extend directive)
%box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// &__small replace box__small
.box {
  &__small {
    gap: 16px;

    @extend %box;
  }

  &__large {
    gap: 48px;

    @extend %box;
  }
}

// @extend -> box__large inherit the styles of .box
